__pycache__/
*.py[cod]
.ipynb_checkpoints/
data/raw_pdfs/**/*.pdf
data/extracted_txt/**/*.txt
data/cleaned_txt/**/*.txt
data/train_corpus/**/*.txt
data/eval_corpus/**/*.txt
data/*.parquet
models/*/*
!models/*/.gitkeep
results/**/*.csv
results/**/*.json
results/**/*.md
reports/tables/*
reports/figures/*
reports/final_report/*
!reports/**/.gitkeep
